<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head'); -%>
    </head>
    <body class="text-center">
        <%- include('common/navigation'); -%>
        <div class="container">
            <h1 style="margin-top: 4em" class="readex">404</h1>
            <h5>Essa página não existe</h5>
        </div>
    </body>
</html>
