<title>Forum App</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="Forum App, Project" />
<meta name="author" content="Sprintermax" />
<meta name="theme-color" content="#1a1a1a" />

<!-- Primary Meta Tags -->
<meta name="title" content="Forum App" />
<meta name="description" content="Forum App Project by Sprintermax" />

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://spmax.dev/">
<meta property="og:title" content="Forum App">
<meta property="og:site_name" content="Sprintermax">
<meta property="og:description" content="Forum App Project by Sprintermax">
<!-- <meta property="og:image" content="https://spmax.dev/assets/apps/pixelparty/banner.png"> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:creator" content="@Sprintermax">
<meta property="twitter:url" content="https://spmax.dev/">
<meta property="twitter:title" content="Sprintermax">
<meta property="twitter:description" content="Forum App Project by Sprintermax">
<!-- <meta property="twitter:image" content="https://spmax.dev/assets/apps/pixelparty/banner.png"> -->

<%- include('style'); -%>
<%- include('script'); -%>
